# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pdb

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore GitHub Copilot files
*.copilot.*

# Ignore files larger than 100MB
*.{100MB}

# Ignore .vs folder
.vs/

# Ignore .idea folder
.idea/
*.ipch
*.ipch
*.ipch
*.ipch
